---
http_interactions:
- request:
    method: get
    uri: https://finder-api.eircode.ie/api/autocomplete/en?addressline=the%20priory%20dublin&key=874d0fd8-d94a-418a-8089-5d901019f88c
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "{\r\n  \"totalMatches\": 10,\r\n  \"addresses\": [\r\n    {\r\n      \"id\":
        \"01b32136-5fbf-4081-a1bb-d5b1a223ecee\",\r\n      \"address\": \"THE PRIORY,
        KILTIPPER ROAD, DUBLIN 24\",\r\n      \"unique\": true\r\n    },\r\n    {\r\n
        \     \"id\": \"c7dc8456-cf3e-400b-bde2-416f503ac5b7\",\r\n      \"address\":
        \"THE PRIORY, GREENHILLS ROAD, DUBLIN 24\",\r\n      \"unique\": true\r\n
        \   },\r\n    {\r\n      \"id\": \"0177810a-0b4f-48a5-a871-c45509ea6eef\",\r\n
        \     \"address\": \"THE PRIORY, MONKSTOWN ROAD, MONKSTOWN, BLACKROCK, CO.
        DUBLIN\",\r\n      \"unique\": true\r\n    },\r\n    {\r\n      \"id\": \"ccd790dc-9063-417f-83b2-a36932c358a2\",\r\n
       [...]
